FOLD 3

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [10]:
df3 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_3.csv')

C:\Users\Asus\AppData\Local\Temp\ipykernel_23060\3799753280.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_3.csv')

In [12]:
nan_cols30 = [i for i in df3.columns if df3[i].isnull().sum() > 0.30*len(df3)]

In [13]:
df3.drop(nan_cols30, axis = 1, inplace = True)

In [14]:
bool_cols = [col for col in df3 
             if np.isin(df3[col].dropna().unique(), [0, 1]).all()]

In [15]:
for i in bool_cols:
    df3[i].fillna(df3[i].mode()[0], inplace=True)

In [16]:
df3 = df3.fillna(0)

In [18]:
for col in df3:
    all_names = set(df3[col])
    mapper = {k: 0 + i for i, k in enumerate(all_names )}
    df3[col] = df3[col].map(mapper)

df3

,machine_id,security_product_name,machine_version,app_version,av_sig_version,is_beta,rtp_state,is_sxs_passive,av_status,av_prod_installed,...,secure_boot_status,virtual_dev_status,touch_support,pen_support,aoac_support,is_gamer,region_id,malware_status,age,sex
0,0,0,23,26,2594,0,4,0,684,2,...,0,0,0,0,0,0,15,0,29,0
1,1,0,1,21,2615,0,4,0,1137,1,...,0,0,0,0,0,1,10,1,14894,0
2,2,0,44,40,3029,0,4,0,1137,1,...,1,0,0,0,0,0,3,1,33,0
3,3,0,44,47,3098,0,4,0,1997,3,...,1,0,1,0,0,0,10,1,68525,0
4,4,0,44,40,2490,0,4,0,710,2,...,0,0,0,0,0,0,10,0,60183,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,0,44,40,1901,0,4,0,1137,1,...,0,0,0,0,0,0,0,1,24925,0
99996,99996,0,45,65,1413,0,4,0,1137,1,...,0,0,0,0,0,1,1,1,13581,1
99997,99997,0,17,2,475,0,4,0,1137,1,...,1,0,0,0,0,0,5,1,4805,0
99998,99998,0,17,40,1039,0,4,0,1488,2,...,1,0,0,0,0,0,15,0,8128,0
99999,99999,0,44,40,1013,0,4,0,1137,1,...,0,0,0,0,0,1,3,1,22966,0

FOLD 4

In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [19]:
df4 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_4.csv')

C:\Users\Asus\AppData\Local\Temp\ipykernel_23060\3191432703.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_4.csv')

In [20]:
nan_cols84 = [i for i in df4.columns if df4[i].isnull().sum() > 0.30*len(df4)]

In [21]:
df4.drop(nan_cols84, axis = 1, inplace = True)

In [22]:
bool_cols4 = [col for col in df4
             if np.isin(df4[col].dropna().unique(), [0, 1]).all()]

In [23]:
for i in bool_cols4:
    df4[i].fillna(df4[i].mode()[0], inplace=True)

In [24]:
df4 = df4.fillna(0)

In [25]:
for col in df4:
    all_names = set(df4[col])
    mapper = {k: 0 + i for i, k in enumerate(all_names )}
    df4[col] = df4[col].map(mapper)

df4

,machine_id,security_product_name,machine_version,app_version,av_sig_version,is_beta,rtp_state,is_sxs_passive,av_status,av_prod_installed,...,secure_boot_status,virtual_dev_status,touch_support,pen_support,aoac_support,is_gamer,region_id,malware_status,age,sex
0,0,1,44,40,2798,0,4,0,1173,1,...,0,0,0,0,0,1,11,0,50233,1
1,1,1,14,70,1718,0,4,0,1173,1,...,1,0,0,0,0,0,3,0,1384,0
2,2,1,44,57,755,0,4,0,1173,1,...,1,0,1,1,0,0,15,1,63447,1
3,3,1,14,40,188,0,4,0,1173,1,...,0,0,0,0,0,0,3,1,53826,0
4,4,1,45,32,3642,0,4,0,1430,1,...,1,0,0,0,0,0,11,0,1897,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,44,40,1927,0,4,0,1173,1,...,0,0,0,0,0,1,3,0,30679,1
99996,99996,1,44,40,879,0,4,0,2101,2,...,1,0,0,0,0,0,1,0,79368,1
99997,99997,1,44,40,438,0,4,0,1173,1,...,1,0,0,0,1,1,1,0,65739,0
99998,99998,1,14,40,3877,0,4,0,1173,1,...,1,0,1,1,0,1,7,0,35337,1
99999,99999,1,44,57,2557,0,4,0,1173,1,...,0,0,0,0,0,1,10,1,48649,1

FOLD 9

In [26]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [27]:
df9 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_9.csv')

C:\Users\Asus\AppData\Local\Temp\ipykernel_23060\2101227381.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_9.csv')

In [28]:
nan_cols83 = [i for i in df9.columns if df9[i].isnull().sum() > 0.30*len(df9)]

In [29]:
df9.drop(nan_cols83, axis = 1, inplace = True)

In [30]:
bool_cols9 = [col for col in df9
             if np.isin(df9[col].dropna().unique(), [0, 1]).all()]

In [31]:
for i in bool_cols9:
    df9[i].fillna(df9[i].mode()[0], inplace=True)

In [32]:
df9 = df9.fillna(0)

In [36]:
for col in df9:
    all_names = set(df9[col])
    mapper = {k: 0 + i for i, k in enumerate(all_names )}
    df9[col] = df9[col].map(mapper)

df9

,machine_id,security_product_name,machine_version,app_version,av_sig_version,is_beta,rtp_state,is_sxs_passive,av_status,av_prod_installed,...,secure_boot_status,virtual_dev_status,touch_support,pen_support,aoac_support,is_gamer,region_id,malware_status,age,sex
0,0,1,12,42,1230,0,4,0,1146,1,...,0,0,0,0,0,1,11,1,63021,0
1,1,1,40,26,3628,0,4,0,1547,3,...,1,0,1,0,0,1,13,0,53444,1
2,2,1,12,42,1697,0,4,0,1146,1,...,1,0,0,0,0,0,9,1,32181,0
3,3,1,40,62,183,0,4,0,1146,1,...,0,0,0,0,0,1,11,1,63310,0
4,4,1,40,42,1639,0,4,0,1146,1,...,1,0,0,0,0,0,11,1,2268,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,12,42,929,0,4,0,1146,1,...,1,0,0,0,0,1,10,1,44907,1
99996,99996,1,38,54,3054,0,4,0,1406,1,...,1,0,0,0,0,0,10,0,87028,1
99997,99997,1,26,35,1535,0,4,0,1406,1,...,0,0,0,0,0,1,11,0,10938,0
99998,99998,1,40,62,2640,0,4,0,1146,1,...,1,0,0,0,0,1,1,1,41752,0
99999,99999,1,12,11,694,0,4,0,1146,1,...,1,0,0,0,0,0,0,0,79013,1

FOLD 26

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [23]:
df26 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_3.csv')

C:\Users\Asus\AppData\Local\Temp\ipykernel_25136\265640477.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df26 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_3.csv')

In [24]:
nan_cols82 = [i for i in df26.columns if df26[i].isnull().sum() > 0.30*len(df26)]

In [25]:
df26.drop(nan_cols82, axis = 1, inplace = True)

In [26]:
bool_cols26 = [col for col in df26
             if np.isin(df26[col].dropna().unique(), [0, 1]).all()]

In [27]:
for i in bool_cols26:
    df26[i].fillna(df26[i].mode()[0], inplace=True)

In [28]:
for i in bool_cols26:
    df26[i].fillna(df26[i].mode()[0], inplace=True)

In [29]:
df26 = df26.fillna(0)

In [30]:
for col in df26:
    all_names = set(df26[col])
    mapper = {k: 0 + i for i, k in enumerate(all_names )}
    df26[col] = df26[col].map(mapper)

df26

,machine_id,security_product_name,machine_version,app_version,av_sig_version,is_beta,rtp_state,is_sxs_passive,av_status,av_prod_installed,...,secure_boot_status,virtual_dev_status,touch_support,pen_support,aoac_support,is_gamer,region_id,malware_status,age,sex
0,0,1,43,23,1407,0,4,0,684,2,...,0,0,0,0,0,0,15,0,29,1
1,1,1,28,29,889,0,4,0,1137,1,...,0,0,0,0,0,1,10,1,14894,1
2,2,1,13,28,2159,0,4,0,1137,1,...,1,0,0,0,0,0,3,1,33,1
3,3,1,13,10,1915,0,4,0,1997,3,...,1,0,1,0,0,0,10,1,68525,1
4,4,1,13,28,3720,0,4,0,710,2,...,0,0,0,0,0,0,10,0,60183,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,13,28,1535,0,4,0,1137,1,...,0,0,0,0,0,0,0,1,24925,1
99996,99996,1,35,50,242,0,4,0,1137,1,...,0,0,0,0,0,1,1,1,13581,0
99997,99997,1,15,61,566,0,4,0,1137,1,...,1,0,0,0,0,0,5,1,4805,1
99998,99998,1,15,28,2296,0,4,0,1488,2,...,1,0,0,0,0,0,15,0,8128,1
99999,99999,1,13,28,3711,0,4,0,1137,1,...,0,0,0,0,0,1,3,1,22966,1

FOLD 39

In [12]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [13]:
df39 = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\training\uploads\fold_39.csv')

In [14]:
nan_cols81 = [i for i in df39.columns if df39[i].isnull().sum() > 0.30*len(df39)]

In [15]:
df39.drop(nan_cols81, axis = 1, inplace = True)

In [16]:
bool_cols39 = [col for col in df39
             if np.isin(df39[col].dropna().unique(), [0, 1]).all()]

In [17]:
for i in bool_cols39:
    df39[i].fillna(df39[i].mode()[0], inplace=True)

In [18]:
for i in bool_cols39:
    df39[i].fillna(df39[i].mode()[0], inplace=True)

In [19]:
df39 = df39.fillna(0)

In [20]:
for col in df39:
    all_names = set(df39[col])
    mapper = {k: 0 + i for i, k in enumerate(all_names )}
    df39[col] = df39[col].map(mapper)

In [21]:
df39

,machine_id,security_product_name,machine_version,app_version,av_sig_version,is_beta,rtp_state,is_sxs_passive,av_status,av_prod_installed,...,secure_boot_status,virtual_dev_status,touch_support,pen_support,aoac_support,is_gamer,region_id,malware_status,age,sex
0,67840,2,14,29,205,0,4,0,1119,1,...,1,0,1,0,1,0,1,0,63615,1
1,67841,2,14,29,2378,0,4,0,1119,1,...,0,0,0,0,0,0,15,0,17298,0
2,67842,2,12,29,1724,0,4,0,2063,2,...,0,0,0,0,0,0,8,0,31317,1
3,67843,2,14,29,1140,0,4,0,1389,2,...,1,0,0,0,0,0,1,1,85508,0
4,67844,2,12,29,397,0,4,0,1119,1,...,0,0,0,0,0,1,11,0,1043,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,67835,2,14,29,1302,0,4,0,1119,1,...,0,0,0,0,0,0,10,1,74928,1
99996,67836,2,12,29,1215,0,5,0,1645,1,...,0,0,0,0,0,1,3,1,78375,1
99997,67837,2,12,23,1529,0,4,0,1119,1,...,1,0,1,0,0,0,11,0,98803,1
99998,67838,2,14,51,1380,0,4,0,1119,1,...,1,0,0,0,0,0,15,1,93979,1
99999,67839,2,12,29,2219,0,4,0,1119,1,...,0,0,0,0,0,0,3,1,77506,0

In [3]:
dft = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\test.csv\test.csv')

C:\Users\Asus\AppData\Local\Temp\ipykernel_25136\2526006280.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  dft = pd.read_csv(r'C:\GDSCHackathon\im-somewhat-of-a-cybersecurity-analyst-myself\test.csv\test.csv')

In [4]:
nan_cols = [i for i in dft.columns if dft[i].isnull().sum() > 0.30*len(dft)]

In [5]:
dft.drop(nan_cols, axis = 1, inplace = True)

In [6]:
bool_cols = [col for col in dft 
             if np.isin(dft[col].dropna().unique(), [0, 1]).all()]

In [7]:
for i in bool_cols:
    dft[i].fillna(dft[i].mode()[0], inplace=True)

In [8]:
dft = dft.fillna(0)

In [10]:
for col in dft:
    all_names = set(dft[col])
    mapper = {k: 0 + i for i, k in enumerate(all_names )}
    dft[col] = dft[col].map(mapper)

dft

,machine_id,security_product_name,machine_version,app_version,av_sig_version,is_beta,rtp_state,is_sxs_passive,av_status,av_prod_installed,...,firmware_version_id,secure_boot_status,virtual_dev_status,touch_support,pen_support,aoac_support,is_gamer,region_id,age,sex
0,532875,3,19,69,3119,0,5,0,5177,3,...,36120,0,0,0,0,0,1,7,2029007,0
1,532876,3,18,35,7010,0,5,0,11974,1,...,10641,1,0,1,0,0,1,1,1715690,0
2,532877,3,23,90,2881,0,5,0,11974,1,...,40240,0,0,0,0,0,1,11,166090,1
3,532878,3,18,69,3712,0,5,0,11601,2,...,11525,1,0,0,0,0,0,11,698765,1
4,532879,3,23,35,396,0,5,0,11974,1,...,23661,0,0,0,0,0,0,10,765377,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3921478,532870,3,4,12,1993,0,5,0,11974,1,...,11946,0,0,0,0,0,0,0,411191,0
3921479,532871,3,9,35,1472,0,5,0,11974,1,...,32322,0,0,1,0,1,0,5,3229265,0
3921480,532872,3,18,35,5249,0,5,0,11974,1,...,4121,0,0,0,0,0,0,7,2240044,0
3921481,532873,3,62,47,1687,0,5,0,6928,2,...,31675,0,0,0,0,0,0,3,3878132,1
3921482,532874,3,23,35,4867,0,5,0,11974,1,...,7527,1,0,0,0,0,0,10,2970526,0

In [31]:
X_train = df39.iloc[:,1:73]
Y_train = df39.iloc[:,73]
X_test = df26.iloc[:,1:73]
Y_test = df26.iloc[:,73]

In [32]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_train,Y_train)

c:\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
LR.score(X_test,Y_test)

0.54257

In [35]:
from sklearn import tree
DT = tree.DecisionTreeClassifier()
DT.fit(X_train,Y_train)

DecisionTreeClassifier()

In [37]:
DT.score(X_test,Y_test)

0.52329

In [38]:
from sklearn.svm import SVC
svmobj=SVC()
svmobj.fit(X_train,Y_train)
y_pred=svmobj.predict(X_test)

In [39]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [40]:
print(f"Accuracy:{accuracy_score(Y_test,y_pred)}")

Accuracy:0.52367

In [41]:
print(confusion_matrix(Y_test,y_pred))

[[24390 25566]
 [22067 27977]]